.RdBoard .container {
  height: 446px;
  max-width: 1360px;
  margin: 0 auto 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
}

.RdBoard:nth-of-type(odd) .container {
  flex-flow: row-reverse nowrap;
}

.RdBoard .container img {
  width: 50%;
}

.RdBoard .container span {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.RdBoard .container .info .right-arrow {
  transition: all 0.5s ease;
}

.RdBoard .container .info:hover .right-arrow {
  transform: translateX(3px);
}

.RdBoard .container .info {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.RdBoard .container .info h3 {
  font-size: 38px;
}

.RdBoard .container .info p {
  width: 50%;
  text-align: center;
  line-height: 24px;
  font-size: 18px;
  margin: 10px 0;
}

@media all and (max-width: 950px) {
  .RdBoard .container {
    height: auto;
  }
  .RdBoard .container,
  .RdBoard:nth-of-type(odd) .container {
    flex-flow: column nowrap;
    margin: 0 10px;
  }
  .RdBoard .container img {
    width: 100%;
  }

  .RdBoard .container .info {
    padding: 20px 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .RdBoard .container .info h3 {
    font-size: 28px;
  }
  .RdBoard .container .info p {
    width: 90%;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    margin: 10px 0;
  }
}
