:root {
  --primary-bg-color: #fff;
  --primary-text-color: #000;
  --secondary-text-color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.maximum-body {
  max-width: 1680px;
  margin: 0 auto !important;
}
